@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000000;          /*  para poder cambiar directamente los colores y se aplique en todo el css */
    --color-secundario: #F6F6F6;        /*  se usa var(--color-secundario) */
    --color-terciario: rgb(255, 255, 0);

    --fuente-monserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header_menu_link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;          /*1 rem = 16px para que se ajuste a la pagina*/
    font-weight: 600;
    color: yellow;
    text-decoration: none;
}


body {
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;
}

.contenedor__Principal {
    display: flex;
    align-items: center;
    padding: 6% 15%;               /*  cambio de margin a padding para que no este tan lejos el inicio del footer */
    justify-content: space-between;
    gap: 82px;
}

.descripcion {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.descripcion__Titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.titulo__resaltante {
    color: yellow;
}

.descripcion__Cuerpo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.contenedor__enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subtitulo__enlaces {
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.enlaces_link {
    width: 50%;
    background-color: black;
    text-align: center;
    padding: 21.5px 0;
    border: 2px solid yellow;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.enlaces_link:hover {
    background-color: #272727;
}

.usuario__img {
    width: 50%;
}

footer {
    background-color: yellow;
    color: black;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

@media (max-width: 1200px) {

    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .contenedor__Principal {
        flex-direction: column-reverse;
    }

    .descripcion {
        width: auto;
    }
}